* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  position: relative;
  text-align: center;
  bottom: 695px;
}

.h1-and-p {
  position: relative;
  text-align: center;
  bottom: 635px;
}
